table
  each row, rowIndex in board
    tr
    for column, columnIndex in row
      td(class='row#{rowIndex} column#{columnIndex}')
        input.sudoku-box(maxlength="1" value="#{column}" disabled=column !== '')
